.social_btn {
  position: relative;
  margin: 0px 0px 0px 0px;
  padding: 7px 7px 7px 7px;
  height: 35px;
  width: 120px;
  background: aliceblue;
  text-align: -webkit-center;
  font-family: monospace;
  font-weight: bolder;
  font-size: large;
}
